# OS
.DS_Store
Thumbs.db

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Node
node_modules/
npm-cache/
.pnpm-store/

# Angular build output
dist/
out-tsc/
.angular/
.cache/

# Coverage
coverage/

# IDE
.vscode/
.idea/

# System / temp
.tmp/
.temp/
tmp/
temp/

# Environment files
.env
.env.local
.env.*.local

# Storybook output
storybook-static/

# Sass cache
.sass-cache/

# Testing
playwright-report/
test-results/

# Mac / Linux junk
*.swp
*.swo

# Optional local configs
firebase-debug.log